body {
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    max-width: 700px;
}

.list {
    margin: 1rem 0;
}

.list-item {
    &+li {
        margin-top: 1rem;
    }

    .detail {
        margin: 0.5rem 0 1rem 0;
        line-height: 1.2rem;
    }

    .arrow {
        height: 12px;
        stroke-width: 2px;
    }
}